.customBackground{
    background-color: #51E5FF;
    min-height: 350px;
}

.customForm{
    display: block; 
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;

}

h1{
    text-align: center;
}